:root {
    color-scheme: light dark;
}

body {
    display: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--body-text-color);
    background-color: var(--body-back-color);
    overflow: scroll;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--body-text-color);
    font-weight: 500;
    transition: color .2s ease-in;
}

a:hover {
    color: var(--body-a-color);
    transition: color .3s ease-in;
}

a:active {
    border: 0;
    outline: none;
    text-decoration: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-areas: "header""content""footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}