/*-----------------*/
/*      Footer     */
/*-----------------*/
.footer {
    padding: 20px;
    background-color: var(--footer-back-color);
    margin-top: auto;
}

.footer__inner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__nav {
    display: flex;
    margin-right: auto;
}

.footer__nav-link {
    font-size: 14px;
    margin: 0 10px;
    padding: auto;
    font-weight: 300;
    color: var(--footer-nav-link-color);
    text-decoration: none;
    transition: .4s;
}

.footer__nav-link:hover {
    text-decoration: none;
    color: var(--footer-nav-link-color-hover);
    transition: .4s;
}

.footer__logo-href {
    margin-right: 40px;
}

.footer__copyright {
    color: var(--footer-copyright-color);
    font-size: .75rem;
    margin-left: 100px;
    font-weight: 300;
}

.socials {
    margin-left: auto
}

.socials-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.socials-wrapper__item+.socials-wrapper__item {
    margin-left: 2.5rem
}

.socials-wrapper__item-link path {
    fill: var(--socials-wrapper-item-link-fill);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.socials-wrapper__item-link:hover path {
    fill: #6188ff
}

.developer-copyright {
    color: var(--footer-copyright-color);
    font-size: .75rem;
    font-weight: 300;
}